.slider-wrapper {
  width: 100%;
}

.slider {
  width: 100%;
  height: 27px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.2rem;
  text-align: center;
}

/*.slider:after {
  content: '';
  position: absolute;
  z-index: -1;
  right: 0px;
  left: 0px;
  top: 50%;
  border-bottom: solid 1px #dddddd;

}*/

.slider-btn {
  position: absolute;
  right:0;
  height: 25px;
  cursor: pointer;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  background: #e6e6e6;
  width: 27px;
  z-index: 1;
}

.container {
  padding-top: 40px;
  width: 50%;
  margin: 0 auto;
}

.handle {
  position: absolute;
  width: 10px;
  height: 26px;
  cursor: pointer;
  background-color: white;
  border-radius: 0rem;
  border: solid 1px #adadad;
  box-sizing: border-box;
  background: #e6e6e6;

  
}

.bar {
  position: absolute;
  margin-top: 0px;
  height: 26px;
  cursor: pointer;
  background: #e6e6e6;
}

.range-btn {
  min-width: 46px;
}

.inline-form-label {
  margin-right: 6px;
}